:root{
	--jianbian: saturate(120%) blur(25px);
	--jianbian-color: rgba(255,255,255,0.72);
	--a-color: black;
}
@media (prefers-color-scheme: dark){
	:root{
		--jianbian-color: rgba(52,50,50,0.7);
	}
	body{
		color: white;
		background: #262626;
		--a-color: white;
	}
}
body{
	line-height: normal;
	font-family: PingFangSC-Regular;
}
.title{
	text-align: center;
	margin-top: 5vh;
	margin-bottom: 1vh;
	font-size: 2vh;
}
a:link{
	text-decoration: none;
	color: var(--a-color);
}
a:hover{
	text-decoration: none;
	color: var(--a-color);
}
a:visited{
	color: var(--a-color);
	text-decoration: none;
}
.button{
	backdrop-filter: var(--jianbian);
	-webkit-backdrop-filter: var(--jianbian);
	background-color: var(--jianbian-color);
	cursor: pointer;
	transition: all 0.11s;
}
.button:hover, .button:focus-visible{
	box-shadow: 0px 0px 4px black;
	background-color: rgba(255,255,255,0.2);
	transform: scale(0.99);
}
.button:active{
	transform: scale(0.97);
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 5vh;
	transition: height 0.4s;
}